<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            .map-responsive{
                overflow:hidden;
                padding-bottom:50%;
                position:relative;
                height:0;
            }
            .map-responsive iframe{
                left:10%;
                top:1%;
                height:100%;
                width: 80%;
                position: absolute;
            }
            #location {
                box-sizing: border-box;
                font-size: 16px;
                padding: 10px 20px 12px 12px;
                border: none;
                border-bottom: 1px solid #ddd;
            }
            #location:focus {outline: 3px solid #ddd;}
            #dropdown-search {
                position: relative;
                display: inline-block;
            }
            #dropdown-search a {
                color: black;
                padding: 10px 14px;
                text-decoration: none;
                display: block;
                cursor: pointer;
            }
            #dropdown-search a:hover {background-color: #ddd;}
            .provinces {
                overflow: scroll;
                height: 500px;
            }
            .weather-info {
                box-sizing: border-box;
                padding: 20px 6px 10px;
            }
            .disease-list .disease {
                display: inline-block;
                box-sizing: border-box;
                margin: 20px 30px;
                padding: 20px 30px;
                border: solid #000 1px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: bold;
            }
            .disease-list .disease.normal {
                background-color: rgba(153, 238, 101, 0.768);
            }
            .disease-list .disease.warning {
                background-color: rgba(250, 243, 51, 0.768);
            }
            .disease-list .disease.danger {
                background-color: rgba(238, 60, 6, 0.768);
            }
        </style>
    </head>
    <body>
        
        <h1>Disease Warning</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <form id="search" action="get_location/" method="post">{% csrf_token %}
                        <div id="dropdown-search">
                            <input type='text' placeholder="Search location here..." id='location' name='location' onkeyup="Filter()">
                            <div class="provinces">
                            <a onclick="document.getElementById('location').value='An Giang';document.getElementById('search').submit();">An Giang</a>
                            <a onclick="document.getElementById('location').value='Ba Ria Vung Tau';document.getElementById('search').submit();">Ba Ria Vung Tau</a>
                            <a onclick="document.getElementById('location').value='Bac Lieu';document.getElementById('search').submit();">Bac Lieu</a>
                            <a onclick="document.getElementById('location').value='Bac Kan';document.getElementById('search').submit();">Bac Kan</a>
                            <a onclick="document.getElementById('location').value='Bac Giang';document.getElementById('search').submit();">Bac Giang</a>
                            <a onclick="document.getElementById('location').value='Bac Ninh';document.getElementById('search').submit();">Bac Ninh</a>
                            <a onclick="document.getElementById('location').value='Ben Tre';document.getElementById('search').submit();">Ben Tre</a>
                            <a onclick="document.getElementById('location').value='Binh Duong';document.getElementById('search').submit();">Binh Duong</a>
                            <a onclick="document.getElementById('location').value='Binh Dinh';document.getElementById('search').submit();">Binh Dinh</a>
                            <a onclick="document.getElementById('location').value='Binh Phuoc';document.getElementById('search').submit();">Binh Phuoc</a>
                            <a onclick="document.getElementById('location').value='Binh Thuan';document.getElementById('search').submit();">Binh Thuan</a>
                            <a onclick="document.getElementById('location').value='Ca Mau';document.getElementById('search').submit();">Ca Mau</a>
                            <a onclick="document.getElementById('location').value='Cao Bang';document.getElementById('search').submit();">Cao Bang</a>
                            <a onclick="document.getElementById('location').value='Can Tho';document.getElementById('search').submit();">Can Tho</a>
                            <a onclick="document.getElementById('location').value='Da Nang';document.getElementById('search').submit();">Da Nang</a>
                            <a onclick="document.getElementById('location').value='Dak Lak';document.getElementById('search').submit();">Dak Lak</a>
                            <a onclick="document.getElementById('location').value='Dak Nong';document.getElementById('search').submit();">Dak Nong</a>
                            <a onclick="document.getElementById('location').value='Dien Bien';document.getElementById('search').submit();">Dien Bien</a>
                            <a onclick="document.getElementById('location').value='Dong Nai';document.getElementById('search').submit();">Dong Nai</a>
                            <a onclick="document.getElementById('location').value='Dong Thap';document.getElementById('search').submit();">Dong Thap</a>
                            <a onclick="document.getElementById('location').value='Gia Lai';document.getElementById('search').submit();">Gia Lai</a>
                            <a onclick="document.getElementById('location').value='Ha Giang';document.getElementById('search').submit();">Ha Giang</a>
                            <a onclick="document.getElementById('location').value='Ha Nam';document.getElementById('search').submit();">Ha Nam</a>
                            <a onclick="document.getElementById('location').value='Ha Noi';document.getElementById('search').submit();">Ha Noi</a>
                            <a onclick="document.getElementById('location').value='Ha Tay';document.getElementById('search').submit();">Ha Tay</a>
                            <a onclick="document.getElementById('location').value='Ha Tinh';document.getElementById('search').submit();">Ha Tinh</a>
                            <a onclick="document.getElementById('location').value='Hai Duong';document.getElementById('search').submit();">Hai Duong</a>
                            <a onclick="document.getElementById('location').value='Hai Phong';document.getElementById('search').submit();">Hai Phong</a>
                            <a onclick="document.getElementById('location').value='Hoa Binh';document.getElementById('search').submit();">Hoa Binh</a>
                            <a onclick="document.getElementById('location').value='Ho Chi Minh';document.getElementById('search').submit();">Ho Chi Minh</a>
                            <a onclick="document.getElementById('location').value='Hau Giang';document.getElementById('search').submit();">Hau Giang</a>
                            <a onclick="document.getElementById('location').value='Hung Yen';document.getElementById('search').submit();">Hung Yen</a>
                            <a onclick="document.getElementById('location').value='Khanh Hoa';document.getElementById('search').submit();">Khanh Hoa</a>
                            <a onclick="document.getElementById('location').value='Kien Giang';document.getElementById('search').submit();">Kien Giang</a>
                            <a onclick="document.getElementById('location').value='Kon Tum';document.getElementById('search').submit();">Kon Tum</a>
                            <a onclick="document.getElementById('location').value='Lai Chau';document.getElementById('search').submit();">Lai Chau</a>
                            <a onclick="document.getElementById('location').value='Lao Cai';document.getElementById('search').submit();">Lao Cai</a>
                            <a onclick="document.getElementById('location').value='Lang Son';document.getElementById('search').submit();">Lang Son</a>
                            <a onclick="document.getElementById('location').value='Lam Dong';document.getElementById('search').submit();">Lam Dong</a>
                            <a onclick="document.getElementById('location').value='Long An';document.getElementById('search').submit();">Long An</a>
                            <a onclick="document.getElementById('location').value='Nam Dinh';document.getElementById('search').submit();">Nam Dinh</a>
                            <a onclick="document.getElementById('location').value='Nghe An';document.getElementById('search').submit();">Nghe An</a>
                            <a onclick="document.getElementById('location').value='Ninh Binh';document.getElementById('search').submit();">Ninh Binh</a>
                            <a onclick="document.getElementById('location').value='Ninh Thuan';document.getElementById('search').submit();">Ninh Thuan</a>
                            <a onclick="document.getElementById('location').value='Phu Tho';document.getElementById('search').submit();">Phu Tho</a>
                            <a onclick="document.getElementById('location').value='Phu Yen';document.getElementById('search').submit();">Phu Yen</a>
                            <a onclick="document.getElementById('location').value='Quang Binh';document.getElementById('search').submit();">Quang Binh</a>
                            <a onclick="document.getElementById('location').value='Quang Nam';document.getElementById('search').submit();">Quang Nam</a>
                            <a onclick="document.getElementById('location').value='Quang Ngai';document.getElementById('search').submit();">Quang Ngai</a>
                            <a onclick="document.getElementById('location').value='Quang Ninh';document.getElementById('search').submit();">Quang Ninh</a>
                            <a onclick="document.getElementById('location').value='Quang Tri';document.getElementById('search').submit();">Quang Tri</a>
                            <a onclick="document.getElementById('location').value='Soc Trang';document.getElementById('search').submit();">Soc Trang</a>
                            <a onclick="document.getElementById('location').value='Son La';document.getElementById('search').submit();">Son La</a>
                            <a onclick="document.getElementById('location').value='Tay Ninh';document.getElementById('search').submit();">Tay Ninh</a>
                            <a onclick="document.getElementById('location').value='Thai Binh';document.getElementById('search').submit();">Thai Binh</a>
                            <a onclick="document.getElementById('location').value='Thai Nguyen';document.getElementById('search').submit();">Thai Nguyen</a>
                            <a onclick="document.getElementById('location').value='Thanh Hoa';document.getElementById('search').submit();">Thanh Hoa</a>
                            <a onclick="document.getElementById('location').value='Thua Thien Hue';document.getElementById('search').submit();">Thua Thien Hue</a>
                            <a onclick="document.getElementById('location').value='Tien Giang';document.getElementById('search').submit();">Tien Giang</a>
                            <a onclick="document.getElementById('location').value='Tra Vinh';document.getElementById('search').submit();">Tra Vinh</a>
                            <a onclick="document.getElementById('location').value='Tuyen Quang';document.getElementById('search').submit();">Tuyen Quang</a>
                            <a onclick="document.getElementById('location').value='Vinh Long';document.getElementById('search').submit();">Vinh Long</a>
                            <a onclick="document.getElementById('location').value='Vinh Phuc';document.getElementById('search').submit();">Vinh Phuc</a>
                            <a onclick="document.getElementById('location').value='Yen Bai';document.getElementById('search').submit();">Yen Bai</a>
                            </div>
                        </div>   
                    </form>
                    <div class="weather-info">
                        <p><b>Weather today</b></p>
                        <p>Temperature: {{temp}} &deg; C</p>
                        <p>Humidity: {{humid}} %</p>
                        <p>Rain: {{rain}} ml</p>
                    </div>
                </div> 
                <div class="col-10">
                    <div class="map-responsive" width=100%>
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q={{location}}+Viet+Nam" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="prediction" style="margin: 20px 30px;">
                        <h4>Which disease you may face to in the next 2 weeks?</h4>
                        <div class="disease-list">
                            <div class="disease normal">H1N1 Flu</div>
                            <div class="disease warning">H3 Flu</div>
                            <div class="disease danger">Normal Flu</div>
                        </div>
                    </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script>
            function Filter() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("location");
                filter = input.value.toUpperCase();
                div = document.getElementById("dropdown-search");
                a = div.getElementsByTagName("a");
                for(i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
        </script>
    </body>
</html>